<a routerLink='/'> Back </a>

<h2>Add New Student</h2>

<form id="formNewStudent" name="formNewStudent" #studentData="ngForm" (ngSubmit)="addNewStudent(studentData.value)">
  <label>Student Name : </label> <input type="text" name="name" id="name" ngModel><br>
  <label>Course : </label> <input type="text" name="coursename" id="coursename" ngModel><br>
  <label>Place: </label> <input type="text" name="place" id="place" ngModel><br>
  <label>Project : </label> <input type="text" name="projectname" id="projectname" ngModel><br>
  <input type="submit" value="Add Student">
    
</form>
<br>
<h3 *ngIf="isAdded">{{confirmationString}}</h3>